@font-face {
    font-family: 'Pacifico-Regular';
    src: url('fonts/Pacifico-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/Pacifico-Regular.woff') format('woff'), url('fonts/Pacifico-Regular.ttf')  format('truetype'), url('fonts/Pacifico-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Comfortaa-Regular';
    src: url('fonts/Comfortaa-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/Comfortaa-Regular.woff') format('woff'), url('fonts/Comfortaa-Regular.ttf')  format('truetype'), url('fonts/Comfortaa-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Comfortaa-Bold';
    src: url('fonts/Comfortaa-Bold.eot?#iefix') format('embedded-opentype'),  url('fonts/Comfortaa-Bold.woff') format('woff'), url('fonts/Comfortaa-Bold.ttf')  format('truetype'), url('fonts/Comfortaa-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image:url('images/mainbackground.png');
    background-attachment: fixed;  
    background-size: cover;
    text-align: center;
    font-family: 'Comfortaa-Regular';
}

/*Header Section Start here*/
.navbar{
    background: #131313;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    opacity: 0.3;
}

.navbar:hover{
    opacity: 1.0;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
}

#navbar__logo{
    background-color: #FFF;
    background-image: linear-gradient(to top, #FFF 0%, #F1992B 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Comfortaa-Bold';
}

.fa-stroopwafel{
    margin-right: 0.5rem;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item{
    height: 80px;
}

.navbar__links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__links:hover{
    color: #CFCD01;
    transition: all 0.5s ease;
}

.navbar_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 30px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #F1992B;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button:hover{
    background: #CFCD01;
    transition: all 0.5s ease;
}
/*End of Header Section Start here*/
      
/*Start of Main page Section here*/
    .container-index{
        padding-top: 8%;
        display: flex;
        margin: auto;
    }

    .con-main1{
        background-color: #131313;
        font-size: 100px;
        color: #fff;
        padding: 25px;
        border: 10px solid #000000;
        margin: auto;
        font-family: 'Pacifico-Regular';
        opacity: 0.9;
        border-radius: 50px;
    }

    .con-main2{
        font-family: 'Pacifico-Regular';
        font-size: 40px;
        color: #fff;
    } 

    .container__bottom{
        padding-top: 100px;
        display: flex;
        padding-bottom: 50px;
    }

    .fa-chair{
        margin-right: 0.5rem;
    }

    .fa-car-side{
        margin-right: 0.5rem;
    }
  
    .container__flex{
        background-color: #FAD19E;
        flex: 1;
        border: 10px solid #000000;
        padding: 10px;
        margin-right: 8%;
        margin-left: 8%;
        border-radius: 30px;
    }

    .container__flex:hover{
        background-color: linear-gradient(to top, #FFF 0%, #F1992B 100%);
        transition: all 0.5s ease;
    }

    .container__flex a{
        font-family: 'Pacifico-Regular';
        font-size: 280%;
        color: #131313;
        vertical-align: middle;
    }  

    .container__flex a:hover{
        color: #F1992B;
        transition: all 0.5s ease;
    }
/*End of Main page Section here*/
       
/*Start of Reservation*/
    .right-section1{
        height: 350px; /* Full-height: remove this if you want "auto" height */
        width: 20%; /* Set the width of the sidebar */
        position: fixed; /* Fixed Sidebar (stay in place on scroll) */
        z-index: 1; /* Stay on top */
        top: 196px; /* Stay at the top */
        right: 0;
        background-color: #F7F0E1;
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 20px;
        border: 6px solid #E4D8CC;
        border-radius: 5px;
        align-items: center;
    }

    .subtitle{
        width: 90%;
        height: 25%;
        margin: auto;
        text-align: center;
        background-color: #FFF;
        background-image: linear-gradient(to top, #B7860C 0%, #FFCC02 100%);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        font-size: 180%;
        font-family: 'Pacifico-Regular';
        padding-top: 10px;
    } 
    
    form{
        padding-top: 5%;
        padding-bottom: 5%;
    }

    #name__label{
        padding-top: 100px;
    }

    #ps__label{
        margin-right: 60%;
    }

    #part__size{
        width: 80%;
        border: none;
        border-radius: 4px;
        background-color: #FFF;
    }

    .Make__Reservation{
        padding: 5% 40px;
        font-size: 20px;
        font-family: 'Comfortaa-Bold';
        background-color: #131313;
        color: #B7860C;
        border: 3px solid #B7860C;
        text-decoration: none;
        cursor: pointer;
    }

    .Make__Reservation:hover{
        background-color: #E4D8CC;
        transition: all 0.5s ease;
    }

    .left-section1{
        width: 70%;
    }

    .content_col3{
        background-image:url('images/woodplanks.png');
    }

    .top-Tab3 ul{
        list-style-type: none;
        text-align: left;
        padding: 3px 20px;
    }

    .top-Tab3 ul li{
        display:inline-block;
        padding: 75px;
    }
      
  
    .Products_Section1{
        display:flex;
        padding: 80px 100px;
    }
    
    .top-Tab1{
        margin-left: 27px;
    }
    
    .top-Tab1 ul li input#date, input#time{background:none;}
    .top-Tab1 ul {
    list-style-type: none;
    text-align: left;
    padding: 6px 20px;
    }
    
    .top-Tab1 li{
    display:inline;
    }
    
    .top-Tab1 ul li{
    font-size: 16px;
    background: #e6e3e3;
    border: 1px solid #333;
    padding: 8px 12px;
    margin-right: 0px;
    border-radius: 5px;
    font-family: 'Comfortaa-Regular';
    text-decoration: none;
    color: #333;
    }
/* End of Reservation */

/* Start of Reservation-Complete */
.container__comp{
    padding-top: 8%;
}

.container__comp p{
    width: 45%;
    align-items: auto;
    background-color: #131313;
    font-size: 100px;
    color: #fff;
    padding: 25px;
    border: 10px solid #000000;
    font-family: 'Pacifico-Regular';
    opacity: 0.9;
    border-radius: 50px;
    margin: auto;
}

.container__comp span{
    font-family: 'Pacifico-Regular';
    font-size: 40px;
    color: #fff;
} 
/* End of Reservation-Compltete */

/* Start of Login */
.container__log{
    padding-top: 8%;
}

.login__box{
    width: 30%;
    height: 80%;
    background-color: #83878A;
    margin: auto;
    border: 10px solid #656A6F;
    border-radius: 10px;
}

.res__logo{
    background-color: #FFF;
    background-image: linear-gradient(to top, #FFF 0%, #F1992B 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 2.2rem;
    font-family: 'Comfortaa-Bold';
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

#name__pass{
    font-size: 20px;
    margin-right: 68%;
    color: #E4D8CC;
}

#name__passbox, select, textarea {
    width: 90%;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-left: 10px;
    resize: vertical;
}

.comment{
    padding-top: 50px;
}

.log__button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 30px;
    height: 100%;
    width: 50%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #F1992B;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
}

.log__button:hover{
    background: #CFCD01;
    transition: all 0.5s ease;
}

.container__comp p{
    width: 45%;
    align-items: auto;
    background-color: #131313;
    font-size: 100px;
    color: #fff;
    padding: 25px;
    border: 10px solid #000000;
    font-family: 'Pacifico-Regular';
    opacity: 0.9;
    border-radius: 50px;
    margin: auto;
}

.container__comp span{
    font-family: 'Pacifico-Regular';
    font-size: 40px;
    color: #fff;
} 
/* End of Login */

/* Start of create-account */
.container__ca{
    padding-top: 8%;
}

.ca__box{
    width: 40%;
    height: 80%;
    background-color: #5EA777;
    margin: auto;
    border: 10px solid #004C24;
    border-radius: 10px;
}

.res__logo-ca{
    background-color: #FFF;
    background-image: linear-gradient(to top, #FFF 0%, #F1992B 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 3rem;
    font-family: 'Comfortaa-Bold';
    margin: auto;
    padding-top: 50px;
    padding-bottom: 30px;
}

.new-cus__box{
    width: 80%;
    margin: auto;
    background-color: #85A61C;
    border: 10px solid #85A61C;
    border-radius: 5px;
}

.new-cus__title{
    color: #FFF;
    font-size: 25px;
    padding-bottom: 10px;
    font-family: monospace;
}

.new-cus__text{
    color: #FFF;
}

#full-name, select, textarea {
    width: 35%;
    padding: 10px;
    border: 1px solid #FFF;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 16px;
    margin-left: 10px;
    resize: vertical;
    font-size: 16px;
}

#ca-info-box, select, textarea {
    width: 72%;
    padding: 10px;
    border: 1px solid #FFF;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-left: 10px;
    resize: vertical;
    font-size: 16px;
}

#ca-admin-box, select, textarea {
    width: 72%;
    padding: 10px;
    border: 1px solid #FFF;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-left: 10px;
    resize: vertical;
    font-size: 16px;
}

#ca-admin-box::placeholder{
    color: #FF0000;
}
/* End of create-account */

/* Start of admin */
.right-section1-admin{
    height: 500px; /* Full-height: remove this if you want "auto" height */
    width: 30%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 196px; /* Stay at the top */
    right: 0;
    background-color: #F7F0E1;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    border: 6px solid #E4D8CC;
    border-radius: 5px;
    align-items: center;
}

.subtitle-admin{
    width: 90%;
    height: 13%;
    margin: auto;
    text-align: center;
    background-color: #FFF;
    background-image: linear-gradient(to top, #B7860C 0%, #FFCC02 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 180%;
    font-family: 'Pacifico-Regular';
    padding-top: 10px;
} 

table {
    border-collapse: collapse;
    width: 95%;
    margin: auto;
}
  
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
/* End of admin ////////////////////////////////////////////////////////////////// */

/* Start of menu ///////////////////////////////////////////////////////////////// */

/* Style the tab */
/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.menu__container{
    padding-top: 3%;
}

.tab {
    overflow: hidden;
    border: 5px solid #751016;
    background-color: #f1f1f1;
    width: 95%;
    margin: auto;
    background: #751016;
}

  /* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 50px;
    transition: all 0.3s ease;
    color: #FFFFFF;
    font-family: 'Yusei Magic', sans-serif;
    font-size: 20px;
}
  
  /* Change background color of buttons on hover */
.tab button:hover {
    background-color: #F1992B;
}
  
  /* Create an active/current tablink class */
.tab button.active {
    background-color: #F1992B;
}
  
  /* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 5px solid #751016;
    border-top: none;
    animation: fadeEffects 1s; /* Fading effect takes 1 second */
    background: #E8D8BD;
    width: 95%;
    margin: auto;
}

.section-header{
    font-size: 4rem;
    padding-top: 10px;
    padding-bottom: 15px;
    font-family: 'Pacifico-Regular';
    color: #751016;
}

.section-description{
    font-size: 1rem;
}

.shop-item{
    float: left;
    width: 25%;
    padding: 25px;
}

.shop-items::after{
    content: "";
    clear: both;
    display: table;
}

.shop-item-title{
    font-size: 20px;
    position: absolute;
}

.shop-item-image{
    height: 300px;
    width: 200px;
    position: relative;
    padding-top: 22px;
    border-radius: 20px;
}

.cart__bottom{
    background: #E8D8BD;
    width: 95%;
    margin: auto;
    border: 5px solid #751016;
}

.fa-shopping-cart{
    margin-right: 0.5rem;
}

.section-header-cart{
    padding-top: 30px;
    font-size: 2em;
    padding-bottom: 20px;
}

.cart-header {
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
    padding-left: 5px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    padding: 8px;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 2px solid #751016;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.6em;
}

.fa-money-bill-wave{
    margin-right: 0.5rem;
}

.to-go-cart-complete{
    text-decoration: none;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
    color: #FFF;
    background-color: #751016;
    padding: 10px 10px;
    border-radius: 5px;
}

.btn-purchase:hover{
    background-color: #CC4C4C;
    transition: all 0.5s ease;
}
/* End of menu /////////////////////////////////////////////////////////////// */